.container-textfield, .container-datefield {
  display: flex;
  position: relative;
  box-sizing: border-box;
}

.container-datefield .label,
.container-textfield .label {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(5px, 10px) scale(1);
  background-color: #FFF;
  padding: 0px 5px;
  transition: all 0.2s;
  cursor: text;
  user-select: none;
}

.container-datefield .input,
.container-textfield .input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--background-dark);
  outline: none;
  flex: 1;
}

.container-datefield .input:hover,
.container-textfield .input:hover {
  border: 2px solid var(--background-dark);
}

.container-datefield .input:focus,
.container-textfield .input:focus {
  border: 2px solid var(--primary);
}

.container-datefield .input:focus ~ .label,
.container-textfield .input:focus ~ .label {
  transform: translate(0px, -5px) scale(.8);
  color: var(--primary);
}

.container-datefield .input:not([value=""]) ~ .label,
.container-textfield .input:not([value=""]) ~ .label {
  transform: translate(0px, -5px) scale(.8);
}

.container-checkboxfield {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.container-checkboxfield input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 1.125rem;
  height: 1.125rem;
  background-color: #fff;
  border: 0.125rem solid #ccc;
  border-radius: 0.25rem;
}

.container-checkboxfield input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.75rem;
  height: 0.75rem;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: translate(-50%, -50%) scale(0);
  transform-origin: center;
  transition: 0.125s transform ease-in-out;
  box-shadow: inset 1rem 1rem #fff;
}

.container-checkboxfield input[type="checkbox"]:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.container-checkboxfield input[type="checkbox"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

.container-checkboxfield input[type="checkbox"]:disabled {
  opacity: 0.25;
}

.container-checkboxfield input[type="checkbox"]:focus {
  border-color: var(--primary);
}

.container-checkboxfield input[type="checkbox"]:focus + label {
  color: var(--primary);
}